<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.mapper.EnterpriseProjectApprovalMapper">
  <resultMap id="BaseResultMap" type="com.ht.model.EnterpriseProjectApproval">
    <id column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="apply_user_name" jdbcType="VARCHAR" property="applyUserName" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="fin_goal" jdbcType="INTEGER" property="finGoal" />
    <result column="research_info" jdbcType="VARCHAR" property="researchInfo" />
    <result column="expect_target" jdbcType="VARCHAR" property="expectTarget" />
    <result column="plan_file_id" jdbcType="INTEGER" property="planFileId" />
    <result column="resolution_file_id" jdbcType="INTEGER" property="resolutionFileId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    project_id, enterprise_id, apply_user_name, apply_time, start_time, finish_time, 
    fin_goal, research_info, expect_target, plan_file_id, resolution_file_id, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ht_enterprise_project_approval
    where project_id = #{projectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ht_enterprise_project_approval
    where project_id = #{projectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ht.model.EnterpriseProjectApproval">
    insert into ht_enterprise_project_approval (project_id, enterprise_id, apply_user_name, 
      apply_time, start_time, finish_time, 
      fin_goal, research_info, expect_target, 
      plan_file_id, resolution_file_id, create_time, 
      update_time)
    values (#{projectId,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=INTEGER}, #{applyUserName,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, 
      #{finGoal,jdbcType=INTEGER}, #{researchInfo,jdbcType=VARCHAR}, #{expectTarget,jdbcType=VARCHAR}, 
      #{planFileId,jdbcType=INTEGER}, #{resolutionFileId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.model.EnterpriseProjectApproval">
    insert into ht_enterprise_project_approval
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="applyUserName != null">
        apply_user_name,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="finGoal != null">
        fin_goal,
      </if>
      <if test="researchInfo != null">
        research_info,
      </if>
      <if test="expectTarget != null">
        expect_target,
      </if>
      <if test="planFileId != null">
        plan_file_id,
      </if>
      <if test="resolutionFileId != null">
        resolution_file_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finGoal != null">
        #{finGoal,jdbcType=INTEGER},
      </if>
      <if test="researchInfo != null">
        #{researchInfo,jdbcType=VARCHAR},
      </if>
      <if test="expectTarget != null">
        #{expectTarget,jdbcType=VARCHAR},
      </if>
      <if test="planFileId != null">
        #{planFileId,jdbcType=INTEGER},
      </if>
      <if test="resolutionFileId != null">
        #{resolutionFileId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.model.EnterpriseProjectApproval">
    update ht_enterprise_project_approval
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="applyUserName != null">
        apply_user_name = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finGoal != null">
        fin_goal = #{finGoal,jdbcType=INTEGER},
      </if>
      <if test="researchInfo != null">
        research_info = #{researchInfo,jdbcType=VARCHAR},
      </if>
      <if test="expectTarget != null">
        expect_target = #{expectTarget,jdbcType=VARCHAR},
      </if>
      <if test="planFileId != null">
        plan_file_id = #{planFileId,jdbcType=INTEGER},
      </if>
      <if test="resolutionFileId != null">
        resolution_file_id = #{resolutionFileId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.model.EnterpriseProjectApproval">
    update ht_enterprise_project_approval
    set enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      apply_user_name = #{applyUserName,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      fin_goal = #{finGoal,jdbcType=INTEGER},
      research_info = #{researchInfo,jdbcType=VARCHAR},
      expect_target = #{expectTarget,jdbcType=VARCHAR},
      plan_file_id = #{planFileId,jdbcType=INTEGER},
      resolution_file_id = #{resolutionFileId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where project_id = #{projectId,jdbcType=VARCHAR}
  </update>
</mapper>