<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.mapper.EnterpriseInfoMapper">
  <resultMap id="BaseResultMap" type="com.ht.model.EnterpriseInfo">
    <id column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_" jdbcType="TIMESTAMP" property="update" />
  </resultMap>
  <sql id="Base_Column_List">
    enterprise_id, enterprise_name, create_time, update_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ht_enterprise_info
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ht_enterprise_info
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.model.EnterpriseInfo">
    insert into ht_enterprise_info (enterprise_id, enterprise_name, create_time, 
      update_)
    values (#{enterpriseId,jdbcType=INTEGER}, #{enterpriseName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{update,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ht.model.EnterpriseInfo">
    insert into ht_enterprise_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="enterpriseName != null">
        enterprise_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="update != null">
        update_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseName != null">
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null">
        #{update,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.model.EnterpriseInfo">
    update ht_enterprise_info
    <set>
      <if test="enterpriseName != null">
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null">
        update_ = #{update,jdbcType=TIMESTAMP},
      </if>
    </set>
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ht.model.EnterpriseInfo">
    update ht_enterprise_info
    set enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_ = #{update,jdbcType=TIMESTAMP}
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </update>

  <select id="getEnterpriseListByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ht_enterprise_info a ,ht_enterprise_user_rela b
    on a.enterprise_id=b.enterprise_id
    where b.user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="getEnterpriseListByEnterpriseInfo" parameterType="map"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ht_enterprise_info a ,ht_enterprise_user_rela b
    on a.enterprise_id=b.enterprise_id
    where b.user_id = #{userId,jdbcType=INTEGER}
    <if test="enterpriseName != null">
      and a.enterprise_name like concat('%',#{enterpriseName,jdbcType=VARCHAR},'%')
    </if>
    ;
  </select>

  <select id="selectExactEnterpriseName" parameterType="java.lang.String"  resultType="java.lang.Integer">
    select
    count(*)
    from ht_enterprise_info a
    where enterprise_name = #{enterpriseName,jdbcType=VARCHAR}
    ;
  </select>

</mapper>